<h1>New multi_transfer</h1>

<%= form_for(@multi_transfer) do |f| %>
  <% if @multi_transfer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@multi_transfer.errors.count, "error") %> prohibited this multi_transfer from being saved:</h2>

      <ul>
      <% @multi_transfer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  
  <div class="field">
    Tytuły identyczne? <%= check_box_tag :titles_identical %>
    Kwoty indentyczne? <%= check_box_tag :quotas_identical %>
  </div>
  
  
  <hr/>
    <%= f.fields_for :multi_transfer_parts do |mtp| %>
      <div style="margin: 20px 0px 20px 0px;">
        <div class="field">
          <b><%= "#{mtp.object.person.last_name} #{mtp.object.person.first_name}" %></b>
          (<%= mtp.object.person.id %>)
          <%#= mtp.hidden_field :person_id, :value => mtp.object.person.id %>
          <%= mtp.hidden_field :person_id %>
        </div>
        <div class="field">
          <%= mtp.label :quota %><br />
          <%= mtp.text_field :quota %>
        </div>
        <div class="field">
          <%= mtp.label :title %><br />
          <%= mtp.text_field :title %>
        </div>
      </div>
      <hr/>
    <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', multi_transfers_path %>
