<h1>New multi_transfer</h1>

<%= form_for(@multi_transfer) do |f| %>
  <% if @multi_transfer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@multi_transfer.errors.count, "error") %> prohibited this multi_transfer from being saved:</h2>

      <ul>
      <% @multi_transfer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.text_field :date %>
  </div>
  
  <div class="field">
    Tytuły identyczne? <%= check_box_tag :titles_identical %><br/>
    Kwoty indentyczne? <%= check_box_tag :quotas_identical %>
    <script>
      function toggle_disabled(elem) {
        if(elem.attr('readonly') == true) {
          elem.removeAttr('readonly');
        } else {
          elem.attr('readonly', 'readonly');
        }
      }
      
      $(document).ready(function(){
        
        $('#multi_transfer_date').datepicker({
          autoSize: true,
          dateFormat: 'yy-mm-dd',
          monthNames: ['Styczeń','Luty','Marzec','Kwiecień','Maj','Czerwiec','Lipiec','Sierpień','Wrzesień','Październik','Listopad','Grudzień']
        });
        
        $('#titles_identical').click(function(){
          $('.title_field').val($('#multi_transfer_multi_transfer_parts_attributes_0_title').val());
          toggle_disabled($('.title_field'));
        });
        
        $('#quotas_identical').click(function(){
          $('.quota_field').val($('#multi_transfer_multi_transfer_parts_attributes_0_quota').val());
          toggle_disabled($('.quota_field'));
        });
        
        $(".quota_field").blur(function(){
          var kwota = parseFloat($(this).val()).toString();
          if(kwota == "NaN") {
            $(this).val(parseFloat(1).toFixed(2) );
            $(this).css('background', '#FFCCFF');
          } else {
            $(this).val(parseFloat(kwota).toFixed(2) );
            $(this).css('background', '#CCFFCC');
          }
        });
      });
    </script>
  </div>
  
  
  <hr/>
    <%= f.fields_for :multi_transfer_parts do |mtp| %>
      <div style="margin: 20px 0px 20px 0px;">
        <div class="field">
          <b><%= "#{mtp.object.person.last_name} #{mtp.object.person.first_name}" %></b>
          (<%= mtp.object.person.id %>)
          <%#= mtp.hidden_field :person_id, :value => mtp.object.person.id %>
          <%= mtp.hidden_field :person_id %>
        </div>
        <div class="field">
          <%= mtp.label :title %><br />
          <%= mtp.text_field :title, :class => :title_field %>
        </div>
        <div class="field">
          <%= mtp.label :quota %><br />
          <%= mtp.text_field :quota, :class => :quota_field %>
        </div>
      </div>
      <hr/>
    <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', multi_transfers_path %>
