<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @multi_transfer.date %>
</p>

<hr/>
<p>
  <% @elixir.split("\n").each do |e| %>
    <%= e %><br/><br/><br/>
  <% end %>
</p>


<%= link_to 'Edit', edit_multi_transfer_path(@multi_transfer) %> |
<%= link_to 'Back', multi_transfers_path %>
